.DS_Store
.idea/
xcuserdata/
DerivedData/
.build/
build/
Pods/
vendor/
.bundle/
fastlane/report.xml
fastlane/README.md
fastlane/test_output/
*.ipa
*.dSYM.zip
*.xcarchive
AuthKey_*.p8
*.mobileprovision
*.p12

